repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-json
      - id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=2"
          - "--no-sort-keys"
      - id: detect-private-key
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-ast
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      # - id: detect-aws-credentials
      - id: check-docstring-first
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [-I, .codespellignore]
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
      - id: black-jupyter
  - repo: https://github.com/PyCQA/pylint
    rev: v4.0.4
    hooks:
      - id: pylint
        language: python
        additional_dependencies: ["pySigma", "pytest"]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.34
    hooks:
      - id: pymarkdown
        args:
          - -d
          - MD013
          - scan
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.46.0
    hooks:
      - id: renovate-config-validator
        args: [--strict]
