---
name: Upload Python Package to PyPI Prod

on:
  release:
    types: [created, edited, published, released]
  push:
    tags:
      - '*'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/pySigma-backend-openobserve/
    permissions:
      id-token: write
    steps:
      # retrieve your distributions here
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          set -x
          pip install -r requirements-build.txt

      - name: Build package
        run: >-
          python -m
          build
          --sdist
          --wheel
          --outdir dist/
      - name: Store the distribution packages
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: python-package-distributions
          path: dist/
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@3317ede93a4981d0fc490510c6fcf8bf0e92ed05
        with:
          verbose: true
          print-hash: true
